/* Basic sample */

body{
     font-family: monospace;
     background-image: url('../../images/forgetmenotside.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
	 	overflow:scroll;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
}


.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:25%;
	left:25%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:922px;
	height:600px;
	left:center;
	top:250px;
}

.flipbook-viewport .page{
	width:461px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}

.flipbook{
	text-align: center;
	font-family: monospace;
}

.memorytitle{
	font-size: 3em
}

.category{
	text-align: center;
}

.previmage{
	width: 70%;
}

.user{
	text-align: right;
}

.memorytitle{
	font-family: cursive;
	color: darkslateblue;
}

.user{
	font-size : 1.5em
}

#sideflower{
	margin: auto;
	float: right;
}

/*#intropage{
    background-image: url('../images/forgetmenotside.jpg')
}*/

/*BUTTONS*/
#purplebutton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc92f5), color-stop(1, #c9b2f5));
	background:-moz-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:-webkit-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:-o-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:-ms-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:linear-gradient(to bottom, #cc92f5 5%, #c9b2f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc92f5', endColorstr='#c9b2f5',GradientType=0);
	background-color:#cc92f5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #5f21d2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5f21d2;
}
#purplebutton:hover {
	z-index: 1000;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c9b2f5), color-stop(1, #cc92f5));
	background:-moz-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:-webkit-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:-o-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:-ms-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:linear-gradient(to bottom, #c9b2f5 5%, #cc92f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9b2f5', endColorstr='#cc92f5',GradientType=0);
	background-color:#c9b2f5;
}
#purplebutton:active {
	position:relative;
	top:1px;
}
hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px #5f21d2;
}