body{
     font-family: monospace;
     background-image: url('../images/forgetmenotside.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
.thumbnails{
    width: 400px;
     border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../images/border2.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/border2.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../images/border2.png) 30 stretch;
}
.container{
    margin: 10px 10px 10px 10px;
    width: 1500px
}
.display-results{
    margin: 20px 10px 10px 10px;
    overflow-y: scroll; 
    height: 839px;
    width:    100%  ;
}

.contents{
    width: 20vw;
    height: 10vw;
    text-overflow: ellipsis;
}

.view-larger{
    text-align: center;
    margin: 10px 10px 10px 100px;
}
.larger{
 
  padding: 10px;
  height: 500px;
  float: auto; 
      border: 10px solid transparent;
    padding: 15px;
    -webkit-border-image: url(../images/border.png) 30 stretch; /* Safari 3.1-5 */
    -o-border-image: url(../images/border.png) 30 stretch; /* Opera 11-12.1 */
    border-image: url(../images/border.png) 30 stretch;
}
.drawnforgetmenot{
    float: left;
}
.largetitle{
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px #5F21D2, 0 0 5px darkblue;
    text-align: center
}
h1{
    font-size: 5em;
}
.uploaddiv{
    text-align: center
}
/* Start http://www.cursors-4u.com */ 
body, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur840.cur), progress !important;} /* End http://www.cursors-4u.com */

.welcome{
    font-size: 2em; 
}

#sitename{
    font-size: 2.2em;
}
.memoryInfo{
    text-align: center;
}
#previewimage{
    width: 461px;
    float: right;
    margin: 0 0 10px 10px;
    clear: left;
}
.modal-content{
    background-image: url('../images/forgetmenotside.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    font-size: 3em;
}
#form{
    font-size: 2em;
}
hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px #5f21d2;
}
#bookdescription{
    font-size: 1em;
}
.image-blurred-edge {
    width: 40%;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}
.largeinfo{
    font-size: 2em;
}
#imagetags{
    width: 100%
}

#waiting{
    color: red;
}


/*BUTTONS*/
.purplebutton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cc92f5), color-stop(1, #c9b2f5));
	background:-moz-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:-webkit-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:-o-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:-ms-linear-gradient(top, #cc92f5 5%, #c9b2f5 100%);
	background:linear-gradient(to bottom, #cc92f5 5%, #c9b2f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc92f5', endColorstr='#c9b2f5',GradientType=0);
	background-color:#cc92f5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #5f21d2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:17px;
	padding:8px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5f21d2;
}
.purplebutton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c9b2f5), color-stop(1, #cc92f5));
	background:-moz-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:-webkit-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:-o-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:-ms-linear-gradient(top, #c9b2f5 5%, #cc92f5 100%);
	background:linear-gradient(to bottom, #c9b2f5 5%, #cc92f5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9b2f5', endColorstr='#cc92f5',GradientType=0);
	background-color:#c9b2f5;
}
.purplebutton:active {
	position:relative;
	top:1px;
}
