body{
    font-family: monospace;
}
.thumbnails{
    width: 300px;
}
.container{
    margin: 10px 10px 10px 10px;
}
.display-results{
    overflow-y: scroll; 
    height: 100vh;
    width: 20vw;
}
.view-larger{
    text-align: center;
    margin: 10px 10px 10px 100px;
}
.larger{
   border: 15px solid #3e2b14;
  padding: 10px;
  height: 600px;
  float: auto; 
}