body{
     font-family: monospace;
     background-image: url('../images/forgetmenotside.jpg');
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
}
.thumbnails{
    width: 300px;
    border: 5px dotted slateblue;
}
.container{
    margin: 10px 10px 10px 10px;
}
.display-results{
    margin: 20px 10px 10px 10px;
    overflow-y: scroll; 
    height: 100vh;
    width: 23vw;
}

.contents{
    width: 20vw;
    height: 10vw;
    text-overflow: ellipsis;
}

.view-larger{
    text-align: center;
    margin: 10px 10px 10px 100px;
}
.larger{
   border: 15px solid slateblue;
  padding: 10px;
  height: 500px;
  float: auto; 
}
.drawnforgetmenot{
    float: left;
}
.largetitle{
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px blue, 0 0 5px darkblue;
    text-align: center
}
h1{
    font-size: 5em;
}
.uploaddiv{
    text-align: center
}
/* Start http://www.cursors-4u.com */ 
body, a:hover {cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur840.cur), progress !important;} /* End http://www.cursors-4u.com */

.welcome{
    font-size: 2em; 
}

#sitename{
    font-size: 2.2em;
}
.memoryInfo{
    text-align: center;
}
#previewimage{
    width: 461px;
    float: right;
    margin: 0 0 10px 10px;
    clear: left;
}
.modal-content{
    background-image: url('../images/forgetmenotside.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h4{
    font-size: 3em;
}
#form{
    font-size: 2em;
}
hr {
  border: 0;
  height: 0;
  box-shadow: 0 0 10px 1px darkslateblue;
}
#bookdescription{
    font-size: 1em;
}
.image-blurred-edge {
    width: 40%;
    height: 200px;
    /* you need to match the shadow color to your background or image border for the desired effect*/
    box-shadow: 0 0 8px 8px white inset;
}
.largeinfo{
    font-size: 2em;
}
#imagetags{
    width: 100%
}

#intropage{
    background-image: url('../images/forgetmenotside.jpg')
}

#waiting{
    color: red;
}
#form{
    text-align: center;
}